astroid==3.0.3
certifi==2024.2.2
cftime==1.6.3
contourpy==1.2.0
cycler==0.12.1
dill==0.3.8
exceptiongroup==1.2.0
fonttools==4.48.1
fortranformat==2.0.0
importlib-resources==6.1.1
iniconfig==2.0.0
isort==5.13.2
KDEpy==1.1.9
kiwisolver==1.4.5
matplotlib==3.8.2
mccabe==0.7.0
netCDF4==1.6.5
numpy==1.26.4
packaging==23.2
pillow==10.2.0
platformdirs==4.2.0
pluggy==1.4.0
pylint==3.0.3
pyparsing==3.1.1
pytest==8.0.0
python-dateutil==2.8.2
scipy==1.12.0
six==1.16.0
tomli==2.0.1
tomlkit==0.12.3
typing_extensions==4.9.0
zipp==3.17.0
